/*Stylesheet*/

body {
    margin: 30px !important;
}


.sliderTable {
    width: 800px;
    height: 400px;
}

.sliderTable tbody tr td {
    display: inline-flex;
    margin-right: 50px;
}

.sliderTable form table tbody {

}

.sliderInput {
    width: 200px;
}

.sliderOutput {
    width: 50px !important;
}

.timerContainer {
    height: 100px;
    width: 150px;
    background-color: white;
    float: right;
    margin: auto;
    text-align: center;
}

#time {
    font-size: 48px;
    font-weight: 900;
}

